.search-cache
.DS_Store
.env
.vscode/settings.json
.idea/
/node_modules/
npm-debug.log
coverage/
/assets/images/early-access
/content/early-access
/data/early-access
/script/dev-toc/static
.next
.eslintcache
*.tsbuildinfo
/translations/
.node-version
.linkinator/full.log

# blc: broken link checker
blc_output.log
blc_output_internal.log
broken_links.md
# This one is purely for historical reasons because so many people might
# still have these files on their disk.
lib/redirects/.redirects-cache*.json

# During the preview deploy untrusted user code may be cloned into this directory
# We ignore it from git to keep things deterministic
user-code/

# Logs from scripts
script/logs/
external-link-checker-db.json

# Playwright related
/test-results/
/playwright-report/
/playwright/.cache/

# Automated content source
rest-api-description
semmle-code

.installed.package-lock.json
assets/images/help/writing/unordered-list-rendered (1).png

# Used by getRemoteJSON()
.remotejson-cache/
assets/images/enterprise/management-console/actions-gcp-idp-setup-1.png
assets/images/enterprise/management-console/actions-gcp-idp-setup-2.png
assets/images/enterprise/management-console/actions-gcp-idp-setup-3.png
assets/images/help/business-accounts/enterprise-account-settings-tab.png
assets/images/help/enterprises/ghas-manage-committers.png
assets/images/help/enterprises/your-enterprises-list.png
assets/images/help/settings/actions-workflow-permissions-enterprise-with-default-restrictive.png
assets/images/help/settings/actions-workflow-permissions-organization-with-default-restrictive.png
assets/images/help/settings/actions-workflow-permissions-repository-with-default-restrictive.png
components/hooks/useNumberFormatter.ts
components/search/index.tsx
content/authentication/keeping-your-account-and-data-secure/authorizing-github-apps.md
content/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token.md
content/authentication/keeping-your-account-and-data-secure/reviewing-your-authorized-integrations.md
content/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow.md
content/developers/apps/building-github-apps/creating-a-github-app-using-url-parameters.md
content/developers/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps.md
content/developers/apps/managing-github-apps/installing-github-apps.md
content/developers/index.md
content/developers/webhooks-and-events/events/issue-event-types.md
content/get-started/customizing-your-github-workflow/exploring-integrations/about-github-marketplace.md
content/get-started/customizing-your-github-workflow/exploring-integrations/about-integrations.md
content/get-started/customizing-your-github-workflow/exploring-integrations/about-webhooks.md
content/get-started/customizing-your-github-workflow/purchasing-and-installing-apps-in-github-marketplace/installing-an-app-in-your-organization.md
content/get-started/customizing-your-github-workflow/purchasing-and-installing-apps-in-github-marketplace/installing-an-app-in-your-personal-account.md
content/get-started/importing-your-projects-to-github/importing-source-code-to-github/about-github-importer.md
content/get-started/importing-your-projects-to-github/importing-source-code-to-github/adding-locally-hosted-code-to-github.md
content/get-started/importing-your-projects-to-github/importing-source-code-to-github/importing-a-repository-with-github-importer.md
content/get-started/importing-your-projects-to-github/importing-source-code-to-github/source-code-migration-tools.md
content/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule.md
data/features/security-overview-single-repo-enablement.yml
data/features/specify-period-for-support-bundle.yml
data/release-notes/enterprise-server/3-4/15.yml
data/release-notes/enterprise-server/3-5/12.yml
data/reusables/actions/changing-the-access-policy-of-a-runner-group.md
data/reusables/pull_requests/merge-queue-beta.md
data/reusables/secret-scanning/partner-secret-list-private-repo.md
lib/graphql/static/previews.json
lib/graphql/static/upcoming-changes.json
lib/redirects/static/client-side-rest-api-redirects.json
lib/rest/static/apps/enabled-for-apps.json
lib/rest/static/decorated/ghes-3.4.json
lib/rest/static/decorated/ghes-3.8.json
lib/webhooks/static/decorated/ghes-3.8.json
PATCH-v9-2-8-t2400-print-captured-git-output-when-finished.mbox
src/graphql/data/fpt/schema-ghes-3.8.json
tests/rendering/dynamic-assets.js
